
*.user
*.MOV
*.wmv
*.mp4
*.stash
*.idx
*.json
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_the_button.cpp
*.o
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_the_player.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/the.exe
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_color.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_color_scroller.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_color_selector.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_colors_scroller.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.the.Debug
*.Debug
*.Release
*.Debug
*.Release
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userslukeappdatalocaltemptmpx3oln9
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.the.Release
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userslukeappdatalocaltemptmpj2q9g5
*.Release
*.Debug
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_save_button.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_share_button.cpp
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.the.Debug
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.the.Release
build-the-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userslukeappdatalocaltemptmpxnlvdg
